
<div class="container">
  <div class="media">
    <section>

      <div id="clearance" class="sign-in">
        <h2><%= t(".title") %></h2>

        <%= render partial: '/sessions/form' %>

      </div>

    </section>
  </div>
</div>
