<style>
  #kontejner{
    text-align: center;
  }

</style>

<div class="container" id="kontejner">
  <h1 class="title "> Kako zelite da napravite novi dokument?</h1>


  <%= render 'form' %>


</div>

